#####################################################################
#   A better print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
  {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  ##  Uncomment for Beacon Contact (1 of 4 for beacon contact)
  SET_GCODE_OFFSET Z=0                                 # Set offset to 0

  # Clear any lingering pause states
  CLEAR_PAUSE

  ################## BED & CHAMBER PRE-HEAT ################## 

  M140 S{target_bed}
  M141 S{target_chamber}

  ############################################################

  # Home the printer and set absolute positioning.
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    RESPOND MSG="Bed: {target_bed}c"                    # Display info on display
    M106 S255                                           # Turn on the PT-fan
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    RESPOND MSG="Heatsoak: {target_chamber_wait}c"      # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_probe" MINIMUM={target_chamber_wait}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    RESPOND MSG="Bed: {target_bed}c"                    # Display info on display
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    RESPOND MSG="Soak for 5 min"                        # Display info on display
    G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  ################## CHAMBER HEAT SOAK ################## 

  {% if target_chamber > 0 %}                                                                             ; Accelerate chamber heating by using the bed as additional heater    
    G0 X{x_wait} Y{y_wait} Z3 F780                                                                             ; Move print bed to perfect postion to help chamber heating
    M106 P2 S185                                                                                               ; Turn sidefan on to use bed heat and mix air
    M106 P0 S128                                                                                               ; Turn part cooling fan on to help air mixing
    TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={target_chamber - 5}                         ; Wait for chamber to heat up
    M106 P2 S0                                                                                                 ; Turn off sidefan
    M106 P0 S0                                                                                                 ; Turn off part cooling fan                                      
  {% endif %}

  M191 S{target_chamber}                                                                                  ; Set and wait for chamber temperature

  ####################################################### 

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  RESPOND MSG="Hotend: 150c"                            # Display info on display
  M109 S150                                             # Heat hotend to 150c

  ##  Uncomment for Beacon contact (2 of 4 for beacon contact)
  G28 Z METHOD=CONTACT CALIBRATE=1                     # Calibrate z offset and beacon model

  ##  Uncomment for Trident (Z_TILT_ADJUST)
  RESPOND MSG="Leveling"                               # Display info on display
  Z_TILT_ADJUST                                        # Level the printer via Z_TILT_ADJUST
  G28 Z                                                # Home Z again after Z_TILT_ADJUST

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  RESPOND MSG="Bed mesh"                               # Display info on display
  BED_MESH_CALIBRATE ADAPTIVE=1                        # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  ## Uncomment for Beacon Contact (3 of 4 for beacon contact)
  G28 Z METHOD=CONTACT CALIBRATE=0                     # Calibrate z offset only with hot nozzle

[gcode_macro PRINT_START_PURGE]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_extruder = params.EXTRUDER|int %}
  {% set purge = params.PURGE|int %}
  {% set pei_wipe = params.PEI_WIPE|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Prime the nozzle
  CLEAN_NOZZLE HOTEND={target_extruder} PURGE={purge} PEI_WIPE={pei_wipe}

  ## G1 E120 F60 # Testing fix for extruder not purging during MMU load

  # Heat up the hotend up to target via data from slicer
  RESPOND MSG="Hotend: {target_extruder}c"              # Display info on display
  SMART_PARK                                            # Go to starting point
  # G1 X{x_wait} Y{y_wait} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp

  # Add an additional Z offset for a given material
  _SET_FILAMENT_OFFSET MATERIAL={params.MATERIAL}

  # Get ready to print by doing a primeline
  RESPOND MSG="Printer goes brr"                        # Display info on display
  # SMART_PARK                                            # Go to starting point
  M83                                                   # Use relative positioning for extruder
  G4 P3000                                              # Wait for 3 seconds 
  LINE_PURGE                                            # Perform a line purge to ensure good filament flow
  G90                                                   # Absolute position

# Set chamber temperature
[gcode_macro M141]
gcode:
    {% if printer["heater_generic chamber"] is defined %}
        {% set target_chamber = params.S|float %}
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET={([target_chamber, 65]|min)}
    {% endif %}


# Set wait chamber temperature
[gcode_macro M191]
gcode:
    #Parameters
    {% set target_chamber = params.S|float %}

    {% if target_chamber == 0 %}
        M118 Chamber heater off
    {% else %}
        M141 S{target_chamber}
        TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={([target_chamber, 65]|min)-2} MAXIMUM={target_chamber + 5}  
        M118 Chamber at target temperature
    {% endif %}