[gcode_macro CHECK_CHAMBER_HEATER_Z]
description: Disable chamber heater if Z height >= 270mm
gcode:
    {% if (printer.gcode_move.position.z) >= 270 %}
        # Don't turn heater off entirely as we still want the fan to circulate any air
        # it can underneath the build plate to pick up heat to keep the chamber warm
        M141 S10
    {% endif %}