# Excute when start printing, prior to gcode file
[gcode_macro PRINT_START]
description: Start Printing
gcode:
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}

    # Inform nozzle offset mechanism of our target hotend temperature
    SET_GCODE_VARIABLE MACRO=_APPLY_NOZZLE_OFFSET VARIABLE=hotend_temp VALUE={hotendtemp}
    
    M140 S{bedtemp}                             # Initiate Print Bed Warmup as early as possible
    M104 S0                                     # Make sure hotend is off
    M106 P3 S0                                  # Turn off chamber circulation/exhaust fan

    {% if chambertemp > 0 %}
        M141 S{chambertemp}                     # Initiate Chamber Warmup as early as possible
        M106 P2 S255                            # Set AUX to full to help mix chamber air fully
        M106 S255                               # Turn on part cooling fan to full speed for better air-temp sensing
    {% else %}
        M141 S0                                 # Ensure Chamber heater is off
        M106 P2 S0                              # Turn off auxiliary part cooling fan
        M106 S0                                 # Turn off part cooling fan
    {% endif %}

    M400                                        # Wait for all prior G-code commands to be processed before G28
    SET_GCODE_OFFSET Z=0                        # Reset any applied Z_offset
    G28                                         # Home all axes
    CLEAR_NOZZLE HOTEND={hotendtemp} PEI_WIPE=1 # Do nozzle purge and wipe

    {% if chambertemp > 0 %}                    # Special chamber handling for fastest thorough warmup times
        M106 P0 S255                            # Ensure part cooling fan is full speed for better air mixing
        M106 P2 S255                            # Ensure AUX is at 100% after CLEAR_NOZZLE was called
        G0 Z5 F600                              # Bring print bed to Z=5mm.  This helps with chamber heating
        G0 X152 Y152 F6000                      # Bring print head to middle of print bed
        M191 S{chambertemp-5}                   # Wait for chamber to reach 5C less than desired target
        M141 S{chambertemp}                     # Reset chamber temp target back to full target again
        M106 P2 S0                              # Turn off AUX Fan
        M106 P0 S0                              # Turn off part cooling fan
    {% endif %}

    M190 S{bedtemp}                             # Wait for print bed to reach target temperature
    G4 P60000                                   # Wait 60 seconds for bed temps to stabilise
    G29                                         # Perform Z-tilt, Z-offset, and bed meshing measurements
    M104 S0                                     # Ensure hotend is fully off to minimise any oozing

    {% if chambertemp == 0 %}                   # No chamber temp set. This means we're likely printing PLA/PETG.
        M106 P3 S255                            # Set the chamber circulation fan to 100% to minimise heat creep
    {% else %}
        M141 S{chambertemp}                     # Ensure chamber is set back to on after G29 was called earlier
    {% endif %}

    G0 X5 Y5 F6000                              # Move print head to front-left
    G0 Z5 F600                                  # Move print bed to Z=5mm

    M109 S{hotendtemp}                          # Commence hotend warmup
    M204 S10000                                 # Set velocity limits
    M83                                         # Set E-axis to relative mode
    SET_PRINT_STATS_INFO CURRENT_LAYER=1        # Set current layer to 1
    #ENABLE_ALL_SENSOR                          # Turn on filament runout detection
    #save_last_file
    G4 P2000